html {
   font-family: "helvetica neue";
   background: #2b2e4a;
   color: #f1f1f1;
}

header {
   margin-top: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}
h1 {
   margin: 10px;
   font-size: 40px;
}

p {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5px;
   font-size: 18px;
}

.inbox {
   max-width: 400px;
   margin: 40px auto;
   background: #903749;
   border-radius: 5px;
   box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #e84545;
}

.item:last-child {
   border-bottom: 0;
}

input:checked + p {
   background: #53354a;
   text-decoration: line-through;
}

input[type="checkbox"] {
   margin: 20px;
}

p.itemtext {
   margin: 0;
   padding: 20px;
   transition: background 0.2s;
   flex: 1;
   font-family: "helvetica neue";
   font-size: 20px;
   font-weight: 200;
   border-left: 1px solid #e84545;
}
