body {
   background-image: url(https://source.unsplash.com/5IHz5WhosQE/1600x1000);
   background-size: cover;
   background-color: wheat;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: "Lucida Sans", "Lucida Sans Regular";
   font-size: larger;
   font-weight: bolder;
   color: rgb(1, 44, 1);
}
