body {
   margin: 0;
   font-family: sans-serif;
   background: url("https://source.unsplash.com/EuMVFkzkYuU/2000x2000");
   background-size: cover;
   display: flex;
   align-items: center;
   min-height: 100vh;
}

#bands {
   list-style: inside square;
   font-size: 20px;
   background: #242c3cf5;
   width: 500px;
   margin: auto;
   padding: 0;
   box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

#bands li {
   border-bottom: 1px solid black;
   padding: 20px;
   color: white;
}

#bands li:last-child {
   border-bottom: 0;
}
