* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: sans-serif;
   background: #243c34;
   background-size: cover;
   min-height: 100vh;
}

header {
   display: flex;
   width: 80%;
   margin: auto;
   text-align: center;
   justify-content: space-evenly;
   margin-top: 50px;
}

h1 {
   color: white;
   font-size: 40px;
   padding: 20px;
   border-radius: 20px;
   background-color: #3c3424;
}

div.totalTime {
   font-size: 30px;
   padding: 20px;
   border-radius: 20px;
   color: goldenrod;
   align-self: center;
   font-weight: bolder;
   background-color: #242c3c;
}

.videos {
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(10, 1fr);
   list-style: none;
   /* font-size: 20px; */
   background: #242c3c;
   width: 80%;
   margin: 50px auto;
   padding: 3rem;
   grid-gap: 1rem;
   border-radius: 20px;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.videos li {
   border: 1px solid white;
   font-size: 20px;
   padding: 20px;
   color: white;
   padding: 1rem;
   border-radius: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   background-color: #3c3424;
}
.videos li p {
   margin-top: 5px;
   font-size: 15px;
}
